<footer class="site-footer">
  <div class="container">
    
    <div class="row">
    
      <div class="col-md-9">
        <div class="row">
          
          <div class="col-md-5">
            
            <a href="{{ site.baseurl }}/"><img src="/assets/images/embark-light.png" style="max-width:200px; margin-bottom:15px;"></a>
            <p>From Medicine Hat to Calgary, our mission is to provide local businesses in Southern Alberta with an easy and comfortable go-to for their website and marketing consultant requirements. 
              We make every effort to accommodate our client's needs, and to provide a personalized marketing experience.</p>
          </div>
          <div class="col-md-3 ml-auto">
            <h2 class="footer-heading mb-4">Sections</h2>
            <ul class="list-unstyled">
              <li><a href={% if page.url == '/' %}"#about-section"{% else %}"{{ site.baseurl }}/#about-section"{% endif %} >About Us</a></li>
              <li><a href={% if page.url == '/' %}"#work-section"{% else %}"{{ site.baseurl }}/#work-section"{% endif %} >Projects</a></li>
              <li><a href={% if page.url == '/' %}"##services-section"{% else %}"{{ site.baseurl }}/#services-section"{% endif %} >Services</a></li>
              <li><a href={% if page.url == '/' %}"#testimonials-section"{% else %}"{{ site.baseurl }}/#testimonials-section"{% endif %} >Testimonials</a></li>
              <li><a href={% if page.url == '/' %}"#contact-section"{% else %}"{{ site.baseurl }}/#contact-section"{% endif %} >Contact Us</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a href="{{ site.facebook }}" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="{{ site.twitter }}" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="{{ site.instagram }}" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <!-- <a href="{{ site.linkedin }}" class="pl-3 pr-3"><span class="icon-linkedin"></span></a> -->
          </div>
        </div>
      </div>
      <!--
      <div class="col-md-3">
        <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
        <form action="#" method="post">
          <div class="input-group mb-3">
            <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email"
              aria-label="Enter Email" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
            </div>
          </div>
        </form>
      </div>
    -->
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p>
            Copyright Embark &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved
          </p>
          <h6 style="font-size:12px; margin-top: 0px;">Image Credit: <a href="https://www.pexels.com/photo/action-adult-adventure-beautiful-356808/">Pexels</a>,<a href="https://unsplash.com/photos/-H3l6u6QI3Q">Unsplash</a></h6>
        </div>
      </div>
    </div>
  </div>
</footer>
</div> <!-- .site-wrap -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="{{ site.baseurl }}/assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery-ui.js"></script>
<script src="{{ site.baseurl }}/assets/js/popper.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.stellar.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.countdown.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap-datepicker.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.easing.1.3.js"></script>
<script src="{{ site.baseurl }}/assets/js/aos.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.fancybox.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.sticky.js"></script>
<script src="{{ site.baseurl }}/assets/js/typed.js"></script>
<script>
  var typed = new Typed('.typed-words', {
    strings: ["Journey Together", "Marketing Adventure", "Creative Experience"],
    typeSpeed: 80,
    backSpeed: 80,
    backDelay: 4000,
    startDelay: 1000,
    loop: true,
    showCursor: true
  });
</script>

<script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>

</html>