
<div class="site-wrap main-menu">
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <div class="border-bottom top-bar py-2 bg-dark" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="mb-0 flex-fix">
              <span class="mr-3"><strong class="text-white">Phone:</strong> <a href="tel:1-587-997-1511">+1 (587) 997-1511
              </a></span>
              <span><strong class="text-white">Email:</strong> <a href="mailto:hello@letsembark.ca">hello@letsembark.ca</a></span>
            </p>
          </div>
          <div class="col-md-6">
            <ul class="social-media">
              <li><a href="{{ site.facebook }}" class="p-2"><span class="icon-facebook"></span></a></li>
              <li><a href="{{ site.twitter }}" class="p-2"><span class="icon-twitter"></span></a></li>
              <li><a href="{{ site.instagram }}" class="p-2"><span class="icon-instagram"></span></a></li>
             <!-- <li><a href="{{ site.linkedin }}" class="p-2"><span class="icon-linkedin"></span></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>