<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description"
        content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content=" ">
    <meta name="google-site-verification" content=" " />

    <!-- OG META Tags -->

    {% if page.title %}
    <meta content="{{ page.title }}" property="og:title" />
    {% else %}
    <meta content="{{ site.title }}" property="og:title" />
    {% endif %}

    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="" />

    <meta property="og:description"
        content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:locale" content="en_US" />

    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{ page.image }}" />
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />
    {% elsif page.ximage %}
    <meta property="og:image" content="{{ page.ximage }}" />
    <meta name="twitter:image" content="{{ page.ximage }}" />
    {% else %}
    <meta property="og:image" content="{{ site.url }}/assets/images/logo.jpg" />
    <meta name="twitter:image" content="{{ site.url }}/assets/images/logo.jpg" />
    {% endif %}

    <meta property="og:url"
        content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta name="twitter:card" content="summary_large_image">
    <!--  Non-Essential, But Recommended -->
    <meta name="twitter:image:alt" content="" />

    <!-- CSS and Scripts -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
<!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/vendor/select2/select2.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/main.css">
<!--===============================================================================================-->


<!-- Global site tag (gtag.js) - Google Analytics -->

<!-- Facebook Pixel Code -->

<!-- End Facebook Pixel Code -->
<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}assets/favicon/apple-touch-icon.png?v=00BvNwObkw">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}assets/favicon/favicon-32x32.png?v=00BvNwObkw">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}assets/favicon/favicon-16x16.png?v=00BvNwObkw">
<link rel="manifest" href="{{ site.baseurl }}assets/favicon/site.webmanifest?v=00BvNwObkw">
<link rel="mask-icon" href="{{ site.baseurl }}assets/favicon/safari-pinned-tab.svg?v=00BvNwObkw" color="#32dbc6">
<link rel="shortcut icon" href="{{ site.baseurl }}assets/favicon/favicon.ico?v=00BvNwObkw">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">