<form name="Homepage Contact" action="POST" data-netlify="true" class="bg-white" style="padding:25px;">
  
    <h4>Suggestion Box</h4>

            <div class="row">
  
              <div class="col-md-12">
                <label class="text-black" for="email"></label>
                <input type="email" name="email" class="form-control" placeholder="Email Address"> 
              </div>
            </div>

            <div class="row "> 
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="first-name"></label>
                  <input type="text" name="first-name" class="form-control" placeholder="First Name">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="last-name"></label>
                  <input type="text" name="last-name" class="form-control" placeholder="Last Name">
                </div>
              </div>
          
            <div class="row form-group">
  
              <div class="col-md-12">
                <label class="text-black" for="message"></label>
                <textarea name="message" name="message" cols="30" rows="4" class="form-control"
                  placeholder="Write your suggestions here... "></textarea>
              </div>
            </div>
  
            <div class="row form-group">
  
              <div class="col-md-12">
                <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white">
              </div>
            </div>
  
          </form>