---
---
@import "variables";
$baseurl: '{{ site.baseurl }}';
@import "util";
@import "main";



.time-capsule {
    border: 2px solid $brandcolor;
    border-radius: 20px;
    width: fit-content !important;
}

.tcbr {
    ul li br {
        display: none;
    }
    @media (max-width: 992px) {
        ul li br {
            display: initial;
        }
        ul {
            padding: 0;
            margin: 0;
            margin-bottom: 25px;
            font-size: .85em;
        }
    }
}

.new {
    background-color:#4e5257;
    border-radius: 25px;
    font-size: .8em;
    font-weight: 600;
    color: #fff;
    padding: 2px 10px;
    vertical-align: middle;
}

.flex-fix {
    @media (max-width: 992px) {
        display: flex;
        flex-direction: column;     
    }
    
    display:flex;
    flex-direction: row;
}

.social-media {
    @media (max-width: 992px) {
        display: none !important;
        float:left !important;
        padding: 10px 0px;
    }
}

blockquote {
    border-left: 3px solid $brandcolor;
    padding: 0 0 0 25px;
}

.testimonial {
    blockquote {
        border: none;
        padding: 0 15px;
    }
}